:root {
    --background: #FFFFEC;
    --artist-container: #F1E4C3;
    --extra: #C6A969;
    --text-default: #597E52;
}

body {
    background-color: var(--background);
    color: var(--text-default);
}

.rotated-90 {
    transform: rotate(-90deg);
    
}

.rel-bs-left {
    position: relative;
    left: -50%;
}

