:root {
    --background: #FFFFEC;
    --artist-container: #F1E4C3;
    --extra: #C6A969;
    --text-default: #597E52;
    --faded: #555555BB;
}

body {
    background-color: var(--background);
    color: var(--text-default);
}

.rotated-90 {
    transform: rotate(-90deg);
    
}

.rel-bs-left {
    position: relative;
    left: -50%;
    /*top: -900%;*/
    /*transform: translateX(-100%);*/
}

.artist-link-pos {
    position: relative;
    left: -50%;
    font-size: xx-large;
    height: 64px;
}

.artist-link {
    background-color: var(--text-default);
    color: var(--background);
    text-decoration: none;
    padding: 2px 8px;
}

#img-host {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    background-color: var(--faded);
}

.carousel-item img {
    height: 100vh;
    margin: 0 auto;
}