:root {
    --background: #FFFFEC;
    --artist-container: #F1E4C3;
    --extra: #C6A969;
    --text-default: #597E52;
    --faded: #FFFFEC99;
}

body {
    background-color: var(--background);
    color: var(--text-default);
}

.text-super {
    vertical-align: super;
}
.text-small {
    font-size: 1.5rem;
}
.text-big {
    font-size: 3rem;
}
.text-sub {
    vertical-align: sub;
}

.artist-block {
    background-color: var(--artist-container);
    margin: 4px;
    padding: 8px 4px 4px 2px;
}

.artist-link {
    background-color: var(--text-default);
    color: var(--background);
    text-decoration: none;
    padding: 2px 8px;
    border: none;
    font-size: xx-large;
}
.artist-link:hover {
    background-color: var(--faded);
    border: 2px var(--background) solid;
    color: var(--text-default);
}

#img-host {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    background-color: var(--faded);
}

.carousel-item img {
    height: 100vh;
    margin: 0 auto;
}

.hide {
    display: none;
}